<?xml version="1.0"?>
  <robot name="robot_kuka_macro" xmlns:xacro="http://wiki.ros.org/xacro">


	<xacro:macro name="kuka_link" params="name *geometry *origin">
		<link name="${name}">
			<visual>
				<xacro:insert_block name="geometry" />
				<xacro:insert_block name="origin" />			
		    <material name="red">
		      <color rgba="0 0 1 1"/>
		    </material>
		  </visual>

		  <collision>
				<xacro:insert_block name="geometry" />
				<xacro:insert_block name="origin" />		
			</collision>

			<inertial>
				<mass value="1"/>
					<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		  </inertial>
	  </link>
	</xacro:macro>	


	<xacro:macro name="kuka_joint" params="name type parent child *origin *axis">
		<joint name="${name}" type="${type}">
			<parent link="${parent}" />
			<child link="${child}" />
	   			<xacro:insert_block name="origin" />
				<xacro:insert_block name="axis" />
	    <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
	    <dynamics damping="50" friction="1"/>
		</joint>
	</xacro:macro>

	

</robot>



